---
import Layout from "@/layouts/Base.astro";

const title = "Page Not Found";
---

<Layout {title}>
  <section class="container">
    <h1>
      <b>404</b>
      {title}
    </h1>

    <p>
      The page you are looking for could not be found. Please return to the top.
    </p>

    <a href="/" class="gotop">
      Top Page
    </a>
  </section>
</Layout>

<style>
  .container {
    text-align: center;
    border: 4px dotted color-mix(in srgb, var(--color-caution) 40%, transparent);
    padding: var(--sp-l);
    border-radius: 16px;
  }

  .container > h1 {
    color: var(--color-caution);
    font-size: 2rem;
    b {
      display: block;
      font-size: 4em;
      font-weight: 900;
      letter-spacing: -0.1em;
      opacity: 0.6;
    }
  }

  .container > p {
    margin-block-start: var(--sp-s);
  }

  .gotop {
    display: inline-block;
    margin-inline: auto;
    margin-block-start: var(--sp-s);
    padding: 0.5em 1.5em;
    border-radius: 999px;
    font-size: 1.2rem;
    font-weight: 700;
    background: var(--color-theme);
    color: var(--color-base);
  }
</style>
